/* Set gray background for pages */
body {
    background-color: #313131;  /* gray */
    color: #ffffff;                /* default text color */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Background color for navbar */
.bg-gray {
    background-color: #313131 !important; /* gray, !important ensures it overrides Bootstrap */
}

/* Navbar links text color */
.navbar .nav-link {
    color: #b4b4b4 !important; /* gray / black */
    font-weight: 500;          /* make text slightly bolder */
}

/* Navbar links hover effect */
.navbar .nav-link:hover {
    color: #8c00ff !important; /* purple on hover */
    /* text-decoration: underline; */
}

/* Navbar brand (title) size */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand (OLED Vertical Banding Tester title) */
nav .navbar-brand .mint
{
    color: #76ffb4;
}
nav .navbar-brand .cyan
{
    color: #2ef8ff;
}
nav .navbar-brand .azure
{
    color: #2f8dff;
}
nav .navbar-brand .purple
{
    color: #983dff;
}
nav .navbar-brand .gray
{
    color: #6d6d6d;
}