{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}
    <h1>Information and Troubleshooting</h1>
        <br>
        <body>
            <h2>What is OLED?</h2> 
                <div>
                    OLED stands for Organic Light Emitting Diode. It is a popular form of display technology that is commonly found in the latest
                    electronics that we use today such as smartphones, smart watches, tablets, laptops, televisions, and computer monitors. OLED displays 
                    are made up of thin layers of organic materials that emit light when an electric current is applied to them. Each OLED pixel can create 
                    its own light unlike LCD panels that require a backlight to illuminate all of the pixels together. Two big parts of OLED panels' allure 
                    are its ability to produce pure blacks and vibrant colors that other types of display technology such as LCD cannot recreate. Because of 
                    this and due to complex manufacturing processes, OLED panels are among the most expensive types of display technology that 
                    exist on the market. 
                </div>
            <br>
            <h2>What is vertical banding?</h2> 
                <div>
                    Vertical banding is dark or light vertical lines that appear on OLED panels that become more visible under dark,
                    uniform backgrounds. It is a subcategory of a larger umbrella term called mura which is a Japanese word for unevenness.
                    Vertical banding and mura in general is often an undesirable effect that distracts the viewer from what they are viewing. The reason 
                    why vertical banding appears more noticeable the darker the display is is that OLED pixels have a harder time
                    precisely controlling the voltage to each pixel under these conditions, and thus, discrepancy in uniformity occurs. 
                    Vertical banding on OLED panels however is unfortunately naturally inherent due to how OLED technology is designed. During the 
                    manufacturing of these OLED Panels, it is very difficult to maintain accurate and uniform pixel brightness and becomes more noticeable
                    the lower the light levels are. Because the level of visual distraction of vertical banding is purely subjective, it is up to the user to 
                    determine if the degree and locations of the vertical banding falls within an acceptable range for them and is satisfactory enough to 
                    generally ignore. 
                </div>
            <br>
            <h2>Why is vertical banding "vertical"?</h2> 
                <div>
                    The reason why vertical banding occurs as lines is because OLED panels are column-based. Each column is driven by a series of 
                    thin-film transistors (TFTs). TFTs control the voltage for all pixels in each column and gives them all the same voltage signal.
                    If there is any variation in the voltage being sent to adjacent columns, vertical banding will appear as lines of varying shades on 
                    the display.
                </div>
            <br>
            <h2>Why is vertical banding only a problem for OLED?</h2> 
                <div>
                    The truth is that LCD panels also suffer from vertical banding but it is much less noticeable due to the way that LCD panels
                    are designed. Although LCD panels are also column-based and use TFTs, LCD panels use a backlight to illuminate all of the pixels at once 
                    on the display which creates a more uniform appearance. Additionally, because OLED panels are also capable of getting much darker than 
                    LCD, vertical banding also appears more noticeable as well.
                </div>
            <br>
            <h2>How to reduce vertical banding?</h2> 
                <div>
                    <p> 
                        There are a number of steps that you can take if you want to help reduce the amount of vertical 
                        banding that you see on your OLED panel. 
                    </p>
                    <p> 
                        <b><i>1. Use a pixel refresher / cleaning tool.</b></i>
                        <br>
                        Most OLED panels feature an pixel refresher tool that can be used to help reduce 
                        the appearance of vertical banding by individually adjusting the voltage on every pixel to help maintain the same light output and 
                        takes just a few minutes to perform. The pixel refresher / cleaning tool typically runs automatically after 4 hours of use but can be turned 
                        on manually through the settings menu of your OLED panel.
                    </p>
                    <p>
                        <b><i>2. Play videos of varying colors and brightness.</b></i>
                        <br>
                        Leaving your monitor on for a few hours and having it play continuous videos that 
                        frequently change color may help reduce the visibility of vertical banding by promoting uniform wear on the pixels.
                    </p>
                    <p>
                        <b><i>3. Use your monitor normally and regularly for a few weeks or a few months</b></i>
                        <br>
                        If step 2 didn't work, continue using your monitor normally and regularly for a few weeks or a few months as vertical banding may reduce over time as the pixels
                        wear in a more uniform manner.
                    </p>
                    <p>
                        <b><i>4. Contact OLED panel manufacturer.</b></i>
                        <br>
                        If the vertical banding is still severe enough to be distracting, you can try contacting the 
                        manufacturer of your OLED panel to see if they have any suggestions or solutions for reducing vertical banding. If the panel is still under 
                        warranty, you may be able to get a replacement for your OLED panel that has less vertical banding.
                    </p>
                </div> 
        </body>
{% endblock %}


